//META{"name":"OtakuDiscordSAO","description":"OtakuDiscordSAO is a custom version of the OtakuDiscord theme, so update can be a bit later than the master","author":"ParadoxOrigins/Saske13","version":"1.9-Beta"}*//
/* IMPORT CSS FROM GITHUB */
@import url(https://rawgit.com/ParadoxOrigins/otakudiscordtheme/OtakuDiscord-Custom/css/OtakuDiscordSAO.min.css);
/**/
/*------------------------Custom background feature--------------------------*/
/*Main background, change only the link, remember that links must be https and must be direct link to the image*/
.app {
    background-image: url("https://cdn.discordapp.com/attachments/265364582288064512/280269170904662016/rezero_background.png")
}
/*Call-out background, it's the one which appear when opening something like your user settings, change only the link and/or the opacity, remember that links must be https and must be direct link to the image*/
.callout-backdrop {/*The background displayed when you open your settings for example*/
    opacity: 0.6 !important; /*Put the opacity to 0 to disable this background*/
    background: url(https://cdn.discordapp.com/attachments/265364582288064512/280269170904662016/rezero_background.png);
}
/*Connection background, its the one displayed when discord is connecting you, change only the link, remember that links must be https and must be direct link to the image*/
.connecting {
    background-image: url(https://cdn.discordapp.com/attachments/265364582288064512/280269170904662016/rezero_background.png) !important;
}
/*Authentification background, its the one displayed when you sign in, change only the link, remember that links must be https and must be direct link to the image*/
.auth-background {
    background-image: url("https://cdn.discordapp.com/attachments/265364582288064512/280269170904662016/rezero_background.png") !important;/*remember that links must be https*/
}
/*Profile background, its the one displayed when opening user profile, change only the link, remember that links must be https and must be direct link to the image*/
#user-profile-modal {
    background: url(https://cdn.discordapp.com/attachments/265364582288064512/280269170904662016/rezero_background.png);
}
/*Search background, its the one displayed when using the search message feature, change only the link, remember that links must be https and must be direct link to the image*/
.theme-dark .search-results-wrap {
    background-image: url("https://cdn.discordapp.com/attachments/265364582288064512/280269170904662016/rezero_background.png") !important;
}
/*------------------Main background opacity------------------------------*/
.content .flex-spacer,
.title-wrap,
.channels-wrap,
.guilds-wrapper,
.channel-members {
	    background: rgba(0, 0, 0, 0.85) !important; /*To make the background lighter/darker, change last numbers (by default 0.85) by a value between 0 and 1, 1 is the darkest possible and 0 the lightest possible*/
}